#.gitignore
#$Id: mulk .gitignore 1174 2024-03-03 Sun 22:00:49 kt $
*.exe
*.o
*.a
*.mi
*.wk
*.mpi
*~
*.lck
*.num
*.obj
*.lib
*.map
*.tds
*.BAK
*.stackdump
*.run
*.log
/android/Mulk/app/release
/android/mulka0
/android/Mulk/app/src/main/assets/
/msite/_sync
