#.gitignore
#$Id: mulk .gitignore 1382 2025-03-01 Sat 21:56:24 kt $
/mulk/ib
/mulk/mtoib
/mulk/mulk
/mulk/pp
*.exe
*.bak
*.o
*.a
*.mi
*.wk
*.mpi
*~
*.lck
*.num
*.obj
*.lib
*.map
*.tds
*.BAK
*.stackdump
*.run
*.log
*.prv
.gitattributes
